<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
<body>
<div class="center jumbotron transparent">
<h1>Welcome to Yenetta</h1>
<h2>
	This is the home page for the 
	<a href="#"> Yenetta Wise Words</a>
</h2>
<buttontype type="button" class="btn btn-default btn-lg" >Check Us Out</button>

</div>
</body>
</html>