<% provide(:title, "Yenetta") %>
<!DOCTYPE html>
<html>
<body>
<div class="contain-fluid">
  <div class="row">
    <div id="slideshow">
      <div> <img src="assets/Orange.png" width="100%"> </div>
    </div>
  </div>
</div>
<div class="contain-fluid">
  <div class="row" >
    <div class="col-md-12">
      <h1> We are Orange </h1>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-6 columns" >
      <p id="col1"> Yenetta WiseWords shares inspirational, encouraging, promising and engaging quotes through social media with only one goal in mind, invigorating young people. 
        
        In the past 4 months we have managed to spread our word through Instagram (@yenetta_daily) with engaging and attractive posts. Since then we have come to realization that our target group is broad ty, surrounding and mainly form our university. </p>
    </div>
    <div class="col-md-6 columns" >
      <p id="col2"> and we can’t reach them all. So we have decided to subtle our audience group to Ethiopia’s young minds of today and enhance our goal to encourage, inspire and get youth group enthusiastic and assertive about their future.
        
        To get all this done we strongly believe that we have to start from our communi </p>
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
    <h1> Sensational Posts </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="accordian">
      <ul>
        <li>
          <div class="image_title"> <a href="#"></a> </div>
          <a href="#"> <img src="assets/webPost1.jpg"> </a> </li>
        <li>
          <div class="image_title"> <a href="#"></a> </div>
          <a href="#"> <img src="assets/webPost2.jpg"> </a> </li>
         <li>
          <div class="image_title"> <a href="#"></a> </div>
          <a href="#"> <img src="assets/webPost6.jpg"> </a> </li>
        <li>
          <div class="image_title"> <a href="#"></a> </div>
          <a href="#"> <img src="assets/webPost3.jpg"> </a> </li>
        <li>
          <div class="image_title"> <a href="#"></a> </div>
          <a href="#"> <img src="assets/webPost4.jpg"> </a> </li>
        <li>
          <div class="image_title"> <a href="#"></a> </div>
          <a href="#"> <img src="assets/webPost5.jpg"> </a> </li>
        
      </ul>
    </div>
    <div class="row" >
      <div class="col-md-6 columns" >
        <p id="col3"> Yenetta WiseWords shares inspirational, encouraging, promising and engaging quotes through social media with only one goal in mind, invigorating young people. 
          
          In the past 4 months we have managed to spread our word through Instagram (@yenetta_daily) with engaging and attractive posts. Since then we have come to realization that our target group is broad ty, surrounding and mainly form our university. </p>
      </div>
      <div class="col-md-6 columns" >
        <p id="col4"> and we can’t reach them all. So we have decided to subtle our audience group to Ethiopia’s young minds of today and enhance our goal to encourage, inspire and get youth group enthusiastic and assertive about their future.
          
          To get all this done we strongly believe that we have to start from our communi </p>
      </div>
    </div>
    <div class="row" id="team" >
      <div class="col-md-12">
        <h1> Our Team </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-6"><!-- add col-md-offset-1 for 5 members -->
        <div class="team">
          <div class="team-image"> <a href="#"> <img src="http://dummyimage.com/450x450/d9dadc/1c1f24.png&text=+" class="img-circle img-responsive"> </a>
            <div class="team-links">
              <div class="team-links-list"> <a href="#" target="_blank"><i class="fa fa-envelope"></i></a> <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> <a href="#" target="_blank"><i class="fa fa-linked"></i></a> <a href="#" target="_blank"><i class="fa fa-twitter"></i></a> </div>
              <!-- /.team-links-list --> 
            </div>
            <!-- /.team-links --> 
          </div>
          <!-- /.team-image -->
          <div class="team-content">
            <div class="team-name">
              <h5>Herman Mach</h5>
            </div>
            <div class="team-role">Software Developer</div>
            <div class="team-description"></div>
          </div>
          <!-- /.team-content --> 
        </div>
        <!-- /.team --> 
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="team">
          <div class="team-image"> <a href="#"> <img src="http://dummyimage.com/450x450/d9dadc/1c1f24.png&text=+" class="img-circle img-responsive"> </a>
            <div class="team-links">
              <div class="team-links-list"> <a href="#" target="_blank"><i class="fa fa-envelope"></i></a> <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> <a href="#" target="_blank"><i class="fa fa-linked"></i></a> <a href="#" target="_blank"><i class="fa fa-twitter"></i></a> </div>
              <!-- /.team-links-list --> 
            </div>
            <!-- /.team-links --> 
          </div>
          <!-- /.team-image -->
          <div class="team-content">
            <div class="team-name">
              <h5>Joyce Wagner</h5>
            </div>
            <div class="team-role">Designer</div>
            <div class="team-description"></div>
          </div>
          <!-- /.team-content --> 
        </div>
        <!-- /.team --> 
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="team">
          <div class="team-image"> <a href="#"> <img src="http://dummyimage.com/450x450/d9dadc/1c1f24.png&text=+" class="img-circle img-responsive"> </a>
            <div class="team-links">
              <div class="team-links-list"> <a href="#" target="_blank"><i class="fa fa-envelope"></i></a> <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> <a href="#" target="_blank"><i class="fa fa-linked"></i></a> <a href="#" target="_blank"><i class="fa fa-twitter"></i></a> </div>
              <!-- /.team-links-list --> 
            </div>
            <!-- /.team-links --> 
          </div>
          <!-- /.team-image -->
          <div class="team-content">
            <div class="team-name">
              <h5>Donald Speth</h5>
            </div>
            <div class="team-role">Account manager</div>
            <div class="team-description"></div>
          </div>
          <!-- /.team-content --> 
        </div>
        <!-- /.team --> 
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="team">
          <div class="team-image"> <a href="#"> <img src="http://dummyimage.com/450x450/d9dadc/1c1f24.png&text=+" class="img-circle img-responsive"> </a>
            <div class="team-links">
              <div class="team-links-list"> <a href="#" target="_blank"><i class="fa fa-envelope"></i></a> <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> <a href="#" target="_blank"><i class="fa fa-linked"></i></a> <a href="#" target="_blank"><i class="fa fa-twitter"></i></a> </div>
              <!-- /.team-links-list --> 
            </div>
            <!-- /.team-links --> 
          </div>
          <!-- /.team-image -->
          <div class="team-content">
            <div class="team-name">
              <h5>Frank McGuire</h5>
            </div>
            <div class="team-role">Programmer</div>
            <div class="team-description"></div>
          </div>
          <!-- /.team-content --> 
        </div>
        <!-- /.team --> 
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="team">
          <div class="team-image"> <a href="#"> <img src="http://dummyimage.com/450x450/d9dadc/1c1f24.png&text=+" class="img-circle img-responsive"> </a>
            <div class="team-links">
              <div class="team-links-list"> <a href="#" target="_blank"><i class="fa fa-envelope"></i></a> <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> <a href="#" target="_blank"><i class="fa fa-linked"></i></a> <a href="#" target="_blank"><i class="fa fa-twitter"></i></a> </div>
              <!-- /.team-links-list --> 
            </div>
            <!-- /.team-links --> 
          </div>
          <!-- /.team-image -->
          <div class="team-content">
            <div class="team-name">
              <h5>Natasha Miley</h5>
            </div>
            <div class="team-role">Journalist</div>
            <div class="team-description"></div>
          </div>
          <!-- /.team-content --> 
        </div>
        <!-- /.team --> 
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="team">
          <div class="team-image"> <a href="#"> <img src="http://dummyimage.com/450x450/d9dadc/1c1f24.png&text=+" class="img-circle img-responsive"> </a>
            <div class="team-links">
              <div class="team-links-list"> <a href="#" target="_blank"><i class="fa fa-envelope"></i></a> <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> <a href="#" target="_blank"><i class="fa fa-linked"></i></a> <a href="#" target="_blank"><i class="fa fa-twitter"></i></a> </div>
              <!-- /.team-links-list --> 
            </div>
            <!-- /.team-links --> 
          </div>
          <!-- /.team-image -->
          <div class="team-content">
            <div class="team-name">
              <h5>Lavona Smith</h5>
            </div>
            <div class="team-role">Photographer</div>
            <div class="team-description"></div>
          </div>
          <!-- /.team-content --> 
        </div>
        <!-- /.team --> 
      </div>
    </div>
    <div class="hr big_size_hr invisible_hr"> <i class="fa fa-"></i> </div>
  </div>

<div class="row">
  <div class="col-md-12">
    
<section class="contact_us text-center">
        <div class="content">
            <div class="container">
                <i class="fa fa-headphones fa-5x"></i>
                <h1>Tell Us What You Feel</h1>
                <h4>Feel Free To Contact Us Any Time</h4>
                <div class="row">
                    <div role="form">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control input-lg" id="inputlg" type="text" placeholder="User Name">
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" id="inputlg" type="text" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" id="inputlg" type="text" placeholder="Cell Phone">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Your Message"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="button" class="btn btn-danger btn-block" value="Contact Us">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
  </div>
</div>

</div>
</body>
</html>