<% provide(:title, "Yenetta") %>
<!DOCTYPE html>
<html>
<head>
<body>
<div class="container-fluid">
<div class="row">
	<div id="slideshow">
		    <div>
		     <img src="assets/Orange.png" width="100%">
		   </div>
		    <div>
		     <img src="assets/slide1.jpg" width="100%">
		   </div>
	</div>
</div>
</div>
<!--<div class="container-fluid">
<div class="row">
	<div class="col-md-6">
	<h1>
	We are Orange
	</h1>
		<p>
		Yenetta WiseWords shares inspirational, encouraging, promising and engaging quotes through social media with only one goal in mind, invigorating young people. 

In the past 4 months we have managed to spread our word through Instagram (@yenetta_daily) with engaging and attractive posts. Since then we have come to realization that our target group is broad ty, surrounding and mainly form our university.
		</p>
	</div>
	<div class="col-md-6">
	<p>
	and we can’t reach them all. So we have decided to subtle our audience group to Ethiopia’s young minds of today and enhance our goal to encourage, inspire and get youth group enthusiastic and assertive about their future.

	To get all this done we strongly believe that we have to start from our communi
	</p>
	</div>
</div>
</div>
-->
</body>
</html>