<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
<body>
<div class="center jumbotron transparent">
<h1>Welcome to Yenetta WiseWords</h1>
<h2>
	You've Come Through the Right Place</a>
</h2>
<buttontype type="button" class="btn btn-default btn-lg" >Check Us Out</button>

</div>
</body>
</html>