@import "bootstrap-sprockets";
@import "bootstrap";

$Orange:#f15b28;

header{
	
	background-color: transparent;
	color:white;
}

body{
	
	padding-top:175px;
	background-image:image-url('Orange.png');
	background-repeat:no-repeat;
	background-size:100%;
}

.center{
	
	text-align:center;
	color:white;
		h1{
			
			margin-bottom:10px;
		}
}

.extended{
	
	line-height:1;
}
h1{	
	@extends .extended
	font-size:100px;
	letter-spaceing:0px;
	margin-bottom:30px;
	text-align:center;
	font-family:"MostlyMono";

}
h2{ 
	@extends .extended
	font-size:1.3em;
	letter-spaceing:-1px;
	margin-bottom:30px;
	text-align:center;
	font-weight:normal;
	color:white;

}

p{
	
	font-size:1.1em;
	line-height:1.7em;
}

#logo{
	float:left;
	margin-right:10px;
	font-size:55px;
	color:#fff;
	letter-spacing:3px;
	padding:-5px  0 0 10px;
	font-family: "Always Forever";
	font-weight:bold;
		&:hover{
			color:$Orange;
			text-decoration:none;
				}
	}


input[type=text] {
	margin-top:5px;
    box-sizing: border-box;
    border-left: 2px solid trasparent;
	border-right: 2px solid trasparent;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url(searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 10px 6px 40px;
    color:$Orange;
	
}

li a{

	font-size:18px;
	color:white;
}

.transparent{
	background-color:transparent;
}

.btn-default{
	background-color:white;
	color:$Orange;
	border-color:$Orange;
}
