@import "bootstrap-sprockets";
@import "bootstrap";

header{
	
	background-color: transparent;
	color:white;
}

body{
	
	padding-top:175px;
	background-image:image-url('Orange.png');
	background-repeat:no-repeat;
	background-size:100%;
}

section{
	overflow:auto;

}

textarea{
	
	resize:vertical;
}

.center{
	
	text-align:center;
	color:white;
}

.center h1{
	
	margin-bottom:10px;
}

h1,h2,h3,h4,h5,h6{
	
	line-height:1;
}
h1{
	font-size:100px;
	letter-spaceing:0px;
	margin-bottom:30px;
	text-align:center;
	font-family:"MostlyMono";

}
h2{
	font-size:1.3em;
	letter-spaceing:-1px;
	margin-bottom:30px;
	text-align:center;
	font-weight:normal;
	color:white;

}

p{
	
	font-size:1.1em;
	line-height:1.7em;
}

#logo{
	float:left;
	margin-right:10px;
	font-size:55px;
	color:#fff;
	letter-spacing:3px;
	padding:-5px  0 0 10px;
	font-family: "Always Forever";
	font-weight:bold;
}
#logo:hover{
	color:#fff;
	text-decoration:none;
}

footer{
	width:100%;
	margin-top:45px;
	padding-top:5px;
	border-top:1px solid #eaeaea;
	color:#777;
	position:absolute;
	bottom:0px;
	right:50%;
}


input[type=text] {
	margin-top:5px;
    box-sizing: border-box;
    border-left: 2px solid trasparent;
	border-right: 2px solid trasparent;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url(searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 10px 6px 40px;
    color:#f15b28;
	
}

li a{

	font-size:18px;
	color:white;

}

.transparent{
	background-color:transparent;
}

.btn-default{
	background-color:white;
	color:#f15b28;
	border:#f15b28;
}
