 @import "bootstrap-sprockets";
 @import "bootstrap";


 .navbar {
background: rgba(255,255,255,1);
border-color:transparent;
 }

#col1,#col2{
	
	margin:30px;
	text-align:left;
}
h1{
	margin-left:25px;
	text-align:left;
}