$wet: #34495e
$Orange:#f15b28
$z-stack: site, globalHeader, modal,modalOverlay    
.header
  background: rgba(0,0,0,1)
  display: inline-block
  padding: 15px
  transition: all .3s
.logo
  color: black
  cursor: default
  display:inline-block
  margin: -10px 10px
  padding: -10px 0px 0 10px
  text-align: left
  user-select: none

.menu
  //background: grey
  display: block
  height: 50px
  margin: 0 auto
  list-style-type: none
  li
    //background: grey
    float: right
    height: 50px
    line-height: 50px
    text-align: center
    position: relative
    user-select: none
    width: 120px
    
    @media (max-width: 500px)
      float: none
    
    &::before
      //background: white
      content: ''
      height: 1px
      position: absolute
      right: 0
      top: 50%
      width: 1px
      
      @media (max-width: 500px)
      display: none
      
    &:last-child::before
      display: none
      
    &::after
      background: $Orange
      bottom: -3px
      content: ''
      height: 1px
      right: 0px
      opacity: 0
      position: absolute
      transition: all .15s
      width: 100%
      
    &:hover::after
      bottom: 0
      opacity: 1
      
    a
      //background: red
      cursor: pointer
      color: black
      display: block
      font-family: 'Lato', sans-serif
      font-size: 1.2em
      font-weight: 300
      postiton: relative
      text-transform: uppercase
        
      &:hover
        text-decoration: none
        color: $O
        border-color:transparent