#slideshow{
  position: absolute;
  width: 100%;
  left: 0px;
}

#sampletext {
  position: absolute; 
  font : italic bold 60px arial;
  color : #aaaaaa;
  margin-top : 200px;
}

#slideshow > div { 
    width: 100%;
    position: absolute; 
    z-index: 0;
}

