     <div class="container-fluid">
     <div class="row">
     <div class="col-md-12">
     <nav class="navbar navbar-default navbar-fixed-top">
                  <ul class="menu">
                    <li><a>about</a></li>
                    <li><a>work</a></li>
                    <li><a>lets talk</a></li>
                  </ul>
    </div>
    </div>
    </div>
</nav>