     <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
     <div class="row">
      <div class="col-md-4">
     <div class="logo">
     			<h3>WiseWords</h3>
     		</div>
     </div>
     <div class="col-md-8">
                  <ul class="menu">
                    <li><a href="#team">work</a></li>
                    <li><a>lets talk</a></li>
                    <li><a>about</a></li>
                    <li><a>work</a></li>
                     </li>
                  </ul>
    </div>
    </div>
    </div>
    </nav>