        <div class="header" id="header">
              <ul class="menu">
                <li><a>about</a></li>
                <li><a>work</a></li>
                <li><a>lets talk</a></li>
              </ul>
        </div>
    </div>
</header>